<div class="layui-header">
	<div class="layui-logo"><a href="http://www.1212321.com/"><img id="logo" src="img/logo.png" alt="logo.png"/></a></div>
	<ul class="layui-nav layui-layout-left">
		<li class="layui-nav-item"><a href="index.html">首页</a></li>
		<li class="layui-nav-item">
			<a href="javascript: ;">游戏</a>
			<dl class="layui-nav-child">
				<dd><a href="">死神vs火影</a></dd>
				<dd><a href="">妖尾vs海贼王</a></dd>
				<dd><a href="">其他</a></dd>
			</dl>
		</li>
		<li class="layui-nav-item"><a href="download.html">下载</a></li>
		<li class="layui-nav-item"><a href="terminology.html">术语词典</a></li>
	</ul>
	<ul class="layui-nav layui-layout-right">
		<li class="layui-nav-item"><a href="api.html">API 文档</a></li>
		<li class="layui-nav-item"><a href="javascript: ;">反馈 / 捐赠</a></li>
	</ul>
</div>